.container {
  min-width: 330px;
  max-width: 700px;
  width: 70%;
  margin-bottom: 100px !important;
}

.table {
  padding-top: 1em;
}

.table td {
  padding-bottom: 1.5em;
}

.table td:hover {
  cursor: pointer;
}

.img {
  width: 10%;
  min-width: 100px;
}

.img:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.7));
}

.img img {
  width: 100%;
  height: 100%;
}

.link {
  width: 100%;
  padding-left: 1.5em;
  font-size: 1.3em;
  font-weight: 800;
}

.link:hover > a, .link:hover a > span {
  text-decoration: underline;
}

.link>a>span {
  display: inline-block;
}