:root {
  --background: #2E2C2C;
  --menu-bar: #403E3D;
  --primary: #ED9100;
  --headers: #FF8D5C;
  --links: #EDBF00;
  --text: #F2F2F2;
}

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* Remove defaults */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
}

h1, h2, h3 {
  font-family: 'Secular One';
  color: var(--headers);
  padding-bottom: 10px;
}

h1 {
  font-size: 1.45em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

a {
  font-family: 'Source Sans Pro';
  display: inline-block;
  color: var(--links);
  user-select: none;
}

.logo:hover {
  text-decoration-line: none;
  transform: scale(1.02);

}

a:hover {
  cursor: pointer;
  text-decoration-line: underline;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.aHover {
  cursor: pointer;
  text-decoration-line: underline !important;
}

.logo:active, a:active {
  transform: translateY(1px);
}

p {
  padding-bottom: 10px;
  line-height: 1.3em;
}

.main {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  font-family: 'Source Sans Pro', 'Trebuchet MS';
  color: var(--text);
  background-color: var(--background);
}

#copyright {
  width: 100%;
  height: 60px;
  text-align: center;
  color: #676767;
  line-height: 60px;
  font-size: 0.75em;
}

#footerShadow {
  height: 50px;
  width: 100%;
  opacity: 25%;
  position: fixed;
  bottom: 0;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%);
}

#footerText {
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 60%;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.section {
  width: 90%;
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 60px;
  /*border: 3px solid rgb(111, 111, 111);*/
}