:root {
  --primary-text: rgb(242, 242, 242);
  --secondary-text: #B3b3b3;
  --background: #1b1b1b;
  --menu-bar: #222222;
  --primary: #ED9100;
  --secondary: #EDBF00;
  --secondary-shadow: #BD9800;
}

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/* Remove defaults */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
}

h1, h2, h3 {
  font-family: 'Secular One';
  color: var(--primary);
  padding-bottom: 10px;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

a {
  display: inline-block;
  color: var(--secondary);
  text-decoration: underline;
  user-select: none;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--secondary-shadow);
}

a:hover {
  cursor: pointer;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--secondary);
}

a:active {
  transform: translateY(1px);
}

p {
  padding-bottom: 10px;
  width: 500px;
  line-height: 1.4em;
}

.main {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  font-size: 1.5em;
  font-family: Trebuchet MS;
  color: var(--primary-text);
  background-color: var(--background);
}