:root {
  --primary-text: rgb(242, 242, 242);
  --secondary-text: #B3b3b3;
  --background: #1b1b1b;
  --menu-bar: #181818;
  --primary: #ED9100;
  --secondary: #EDBF00;
  --secondary-shadow: #BD9800;
}

/* Remove defaults */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

h3 {
  color: var(--primary);
}

a {
  display: inline-block;
  color: var(--secondary);
  text-decoration: underline;
  user-select: none;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--secondary-shadow);
}

a:hover {
  cursor: pointer;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--secondary);
}

a:active {
  transform: translateY(1px);
}

.main {
  padding: 10px;
  height: 100vh;
  width: 100vw;
  font-size: 1.5em;
  font-family: Trebuchet MS;
  color: var(--primary-text);
  background-color: var(--background);
}